.titulo-principal{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: #851944;
    color: #ffffff;
    border-bottom: 10px solid black;
}

.container{
    border: 1px solid black;
    margin-top: 50px;
    font-family: 'Crimson Text', serif;
    font-size: 19px;
    line-height: 1.5;
    width: 65%;
    text-align: justify;
    margin-left: 5%;
}

body{
    background-color: #F2FFFC;
}

.subtitulos{
    font-family: 'Open Sans Condensed', sans-serif;

}

.fiat{
    border: 10px solid #C2CCCA;
    background-color: #D9E5E3;
    width: 35%;
    text-align: justify;
    padding-bottom: 30px;
    float: right;
    margin-left: 7%;
    margin-right: 5%;
}

.petrobras{
    border: 10px solid #C2CCCA;
    background-color: #D9E5E3;
    width: 35%;
    text-align: justify;
    float: left;
    margin-right: 7%;
    margin-left: 5%;
}

cite{
    float: right;
    line-height: 1;
    padding-top: 20px;
}

.conteudo-principal{
    border: 1px solid black;
    margin-bottom: 8%;
}

footer{
    background-color: black;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    position: fixed;
}

.foto-joaodasilva{
    border: 1px solid black;
    border-bottom: 10px solid black;
    border-left:  10px solid black;
    box-sizing: border-box;
    float: right;
}

.itens-navegacao{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #F2FFFC;
    background-color: #3C1D3D;
    position: relative; 
    top: 311px;
    left: 310px;
    border-left: 10px solid black;
    float: right;
    clear: left;
    width: 15%;
    text-align: center;
}

.itens-navegacao h1{
    font-size: 30px;
}

.itens-navegacao li{
    list-style: none;
    font-size: 20px;
}
